* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.hero,
.footer {
  background-color: #1f2937;
}

.hero {
  padding: 10px 150px;
  height: 430px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: 90px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-weight: extra bold;
  color: #f9faf8;
}

.logo {
  font-size: 24px;
  font-weight: extra bold;
  color: #f9faf8;
}

.img-hero {
  max-width: 580px;
  max-height: 240px;
  width: 100%;
  height: auto;
}
h3 {
  font-size: 36px;
  font-weight: extra bold;
  padding: 30px;
  text-align: center;
}

.hero-paragraph,
a,
.footer {
  font-size: 18px;
  color: rgba(229, 231, 235, 0.7);
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  gap: 16px;
  list-style: none;
}

.btn-header,
.btn-action {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 6px 30px;
  margin-top: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-header:hover,
.btn-action:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.btn-header:active,
.btn-action:active {
  background-color: #004085;
  transform: scale(1);
}

.info {
  margin: 30px 300px 110px 300px;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 90px 300px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: rgba(31, 41, 55, 0.8);
}

.quote-autor {
  font-weight: 800;
  text-align: right;
}

.pics {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.card {
  max-width: 200px;
}

.img-info {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 10px;
}

.cta-container {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 8px;
  margin: 100px 180px;
  padding: 30px 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cta-content {
  display: flex;
  flex-direction: column;
}

.cta-title {
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
}

.btn-action {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 6px 30px;
  margin-top: 10px;
  font-size: 18px;
  border: solid 1px #e5e7eb;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.footer {
  height: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
